<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% include include/js_css_core %>
  </head>
  <body>
  <% include include/menu.ejs%>
  <div class="innerpageContainer">
    <div class="aboutImg"></div>
    <div class="about_c" id="about">
      <div class="c_name">关于我们</div>
      <div class="c_context">
        <p>上海恃有信息科技有限公司是国家文化部动漫集团总公司旗下动漫知识产权交易平台的唯一指定IT供应商，同时也是计算机软件研发、应用、集成的智能密集型移动学习平台的运营商。以垂直行业为突破口，专业从事各行业包括电子商务交易平台、企业内部运行规范，生态圈建设，企业文化塑造在内的互联网以及新型渠道和技术的构建和运营，促进行业的规范和快速发展。目前已取得了非常显著的成绩，拥有一批如东亚银行、中信银行等垂直行业的客户群。
        <p>公司总部坐落在上海，拥有一支技术过硬、业务专精的技术开发和实施运营团队，是国内该业态中极具影响力的新企业。
        <p>企业文化
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海恃有信息科技有限公司从成立以来一直坚持以客户为中心，服务于客户的原则，以打造精品团队，创造精品产品，提供精品服务为发展目标。
        <p>企业团队
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司的资深管理团队成员曾在公司中担任核心技术的研发或管理等重要职位，如资深技术总监、资深项目总监等，拥有丰富的管理和技术经验。“恃有模式”是我们将本着“不拘一格，能力为王”的理念，为每个团队成员提供可以任意驰骋的工作领域和创造机遇；只要你足够优秀就会在这里获得工作的乐趣、成长的喜悦、成功的招手、同事间的友爱。
      </div>
    </div>
    <div class="about_c" id="business">
      <div class="c_name">主营业务</div>
      <div class="c_context">
        <p>国家文化部动漫集团总公司旗下动漫知识产权交易平台的唯一指定IT供应商
        <p>公司本着充分了解客户在电子商务交易平台、企业内部运行规范，生态圈建设，企业文化塑造的软件规范和解决方案，以及应对技术支持和维护时所面临的挑战和压力。
        <p>在线培训服务的运营商
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;面向各种类型企业开展在线培训的租用以及买断服务。整合培训行业的各项资源，实现PC、微信、app同步更新，将平台、培训体系、软件系统打包租用。凭借过硬的产品技术和优质的服务赢得了客户的认可，如东亚银行、中信银行、展讯、证大复地等20多家金融机构均是我们的标杆客户。
        <p>办公协作</p>
        <p>面向各行业如企业人力资源、行政、财务、生产研发、销售、服务各经营管理领域提供专业应用促进效率及业绩提升
      </div>
    </div>

    <div class="about_c" id="team">
      <div class="c_name">团队介绍</div>
      <div class="c_context">
        <p>公司的资深管理团队成员曾在公司中担任核心技术的研发或管理等重要职位，如资深技术总监、资深项目总监等，拥有丰富的管理和技术经验。“恃有模式”是我们将本着“不拘一格，能力为王”的理念，为每个团队成员提供可以任意驰骋的工作领域和创造机遇；只要你足够优秀就会在这里获得工作的乐趣、成长的喜悦、成功的招手、同事间的友爱。
      </div>
    </div>
    <div class="about_c noLine" id="connection">
      <div class="c_name">联系我们</div>
      <div class="c_context">
        <div class="c_left">
          <p><i class="iconfont icon-dianhua"></i>021-55215180(周一至周五9：00-17：30)</p>
          <p><i class="iconfont icon-youxiang"></i>service@shiyouxinxi.com(发送意见反馈)</p>
          <p><i class="iconfont icon-dizhi"></i>上海市虹口区广粤路439弄3号楼502</p>
          <p><i class="iconfont icon-weixin" style="float: left;font-size: 20px;"></i>
            <img src="/images/index/qrod.jpg" style="width: 150px;">
          </p>
        </div>
        <div class="c_map">
          <div id="map" style="height: 300px;width: 300px;">

          </div>
        </div>
      </div>
    </div>
  </div>
  <% include include/footer.ejs%>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mxRKvBhxyRR2DnFT7Cp3LEoQ0T1ROtSW"></script>
  <script>
    // 百度地图API功能
    var map = new BMap.Map("map");
    var point = new BMap.Point(121.472548,31.2976);
    map.centerAndZoom(point,12);
    // 创建地址解析器实例
    var myGeo = new BMap.Geocoder();
    // 将地址解析结果显示在地图上,并调整地图视野
    myGeo.getPoint("上海市虹口区广粤路439弄3号楼502室", function(point){
      if (point) {
        map.centerAndZoom(point, 16);
        map.addOverlay(new BMap.Marker(point));
      }else{
        alert("您选择地址没有解析到结果!");
      }
    }, "上海市");
  </script>
  </body>
</html>
