<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% include include/js_css_core %>
    <style>
      .line_model .line_h img{
        /*height: 200px;*/
        width: 400px;
      }
    </style>
  </head>
  <body>
  <% include include/menu.ejs%>
  <div class="innerpageContainer">
    <div class="betterImg">
      <div class="textBox">
        <p class="b">产品优势</p>
        <p class="m">以互联网先进模式和理念，为企业提供并创造价值！</p>
        <p class="s">企力始终坚持操作简单、使用灵活、业务专业、办公高效、实惠共享的互联网模式和理念为企业提供最优质的产品，创造更大的价值
          企力管理工具覆盖企业人力资源行政、销售服务等个领域；8大基础协作功能，促进企业内部沟通协作顺滑进行。</p>
      </div>
    </div>
    <div class="">
      <div class="line_model">
        <div class="line_h">
          <img src="/images/better/1.png">
        </div>
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">简单</p>
            <p class="l_info">产品按照企业实际业务展示，告别传统信息化的繁琐复杂，一看就懂，一用就会。<br>
              企力基于企业的实际业务，简化复杂繁琐的操作流程，提供全新产品体验，接入互联网即可使用，极大降低系统实施成本、学习成本，真正做到企业经营管理效率快速提升！</p>
          </div>
        </div>
      </div>
    </div>
    <div class=" hasBg">
      <div class="line_model">
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">高效</p>
            <p class="l_info">协同工作台+专业管理应用，高效分工协作，办公随时随地。
              产品诞生至今，”提升企业管理效率，提高企业经营业绩“一直是我们不变的信念，企力会进一步优化服务，增加公告、汇报、日程、通讯录、分享等协作功能，有效配合专业管理应用，将效率提升深入到企业各个领域。</p>
          </div>

        </div>
        <div class="line_h">
          <img src="/images/better/2.png">
        </div>
      </div>
    </div>
    <div class="">
      <div class="line_model">
        <div class="line_h">
          <img src="/images/better/3.png">
        </div>
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">实惠</p>
            <p class="l_info">全网最优性价比，让企业用最低廉的成本实现经营管理信息化，实现升级发展。<br>
              企力通过SaaS服务模式，让软件的使用变得和水电一样便捷、便利；改变传统信息化高门槛、高成本的困境，以最优惠的价格享受最优质的服务，搭乘互联网的发展快车，与大企业站在同一起跑线！</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include include/footer.ejs%>
  </body>
</html>
