<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% include include/js_css_core %>
  </head>
  <body>
  <% include include/menu.ejs%>
  <div class="innerpageContainer">
    <div class="caseImg"></div>
    <div class="line_model">
      <h2>企业业务快速发展，提升内部管理效率，有效进行任务处理</h2>
      <h3>——翼勋金融</h3>
      <div class="picText">
        <img src="images/case/case1.jpg">
        翼勋金融，（全称：上海翼勋互联网金融信息服务有限公司），是
        一家综合性的金融信息服务机构，总部位于上海。翼勋金融专注于网络信贷撮合服务、消费金融和供应链金融等领域的发展，致力于用自身强大的平台建设，卓越的风控技术大数据驱动能力为广大用户提供专业、简单、优质、便捷的普惠金融服务。2016年，凭借良好的行业口碑及领先的金融科技技术， 翼勋金融成为上海互联网金融行业协会理事单位、上海互联网金融信息行业协会副会长单位！<br>
        <p>使用模块：任务管理、通讯录、绩效管理<br>
        <br>
        <p>随着近几年金融行业的蓬勃发展，翼勋金融无论从经营管理流程还是人员规模上都已不再是初期的简单协作的管理方式能够满足的，如何能够提升企业内部管理效率和水平，有效支撑企业的后续发展，成为国翼勋金融管理人员首要考虑的问题。通过仔细对比和调研，翼勋金融正式开始使用企力云办公平台进行公司管理，使用应用：任务管理、通讯录、绩效管理。
      </div>
    </div>
  </div>
  <div class="innerpageContainer hasBg">
    <div class="line_model">
      <div class="line_h">
        <img src="/images/case/case2.jpg">
      </div>
      <div class="line_h">
        <div class="line_text">
          <p class="l_title">任务管理</p>
          <p class="l_info">任务管理是企力的核心功能。使用任务管理，可以帮助企业更好的进行上级与下级，部门与部门，部门内部之间进行业务的流转。任务管理是翼勋金融实现了公司内部业务流转的高效管理，解决了部门多，人员不集中的弊端，实现了良好的管理方式！</p>
        </div>
      </div>
    </div>
  </div>
  <div class="innerpageContainer">
    <div class="line_model">
      <div class="line_h">
        <div class="line_text">
          <p class="l_title">通讯录</p>
          <p class="l_info">企业好友与个人好友分开管理，方便任务协作，进行更高效的沟通交流。通过输入邮箱号码邀请好友和公司成员的方式添加用户，公司同事一键添加为好友的操作使通讯录管理更方便！</p>
        </div>
      </div>
      <div class="line_h">
        <img src="/images/case/case3.jpg">
      </div>
    </div>
  </div>
  <div class="innerpageContainer hasBg">
    <div class="line_model">
      <div class="line_h">
        <img src="/images/case/case4.jpg">
      </div>
      <div class="line_h">
        <div class="line_text">
          <p class="l_title">绩效管理</p>
          <p class="l_info">直接根据任务从工作业绩、工作态度、学习能力、个性表现四个方面对人员进行打分，将人员所得分数与满分进行对比，更加直观清晰的了解成员业绩。该功能实现了企业内部进行高效的了解每位成员的工作情况！</p>
        </div>
      </div>
    </div>
  </div>
  <% include include/footer.ejs%>
  </body>
</html>
