<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% include include/js_css_core %>
  </head>
  <body>
  <% include include/menu.ejs%>
  <div class="innerpageContainer">
    <div class="productImg"></div>
    <div class="sec_nav">
      <ul class="sec_menu">
        <li><a class="active">任务管理</a></li>
        <li><a>项目管理</a></li>
        <li><a>通讯录</a></li>
        <li><a>绩效管理</a></li>
        <li><a>审批管理</a></li>
        <li><a>CRM</a></li>
        <li><a>考勤管理</a></li>
        <li><a>学习管理</a></li>
      </ul>
    </div>
    <div>
      <div class="line_model">
        <div class="line_h">
          <img src="/images/product/task/1.png">
        </div>
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">任务管理<em>高效易用的任务协作工具.</em></p>
            <p class="l_des">多人流转协作、自动记录，极大提升任务协作效率</p>
            <p class="l_info">项目统筹管理繁杂事物，工作清晰有条理；线上分配、管理任务，明确区分任务优先级、状态；知识、文档、经验及时上传，形成企业有效积累。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hasBg">
      <div class="line_model">
        <div class="line_h">
          <div class="right_text">
            <p>任务工作权责清晰项目归类管理<br>所有任务进度全局掌控</p>
            <div class="icons">
              <div class="r_i">
                <i class="iconfont icon-xiangmuguilei"></i>
                <p>项目归类</p>
              </div>
              <div class="r_i">
                <i class="iconfont icon-quanze"></i>
                <p>权责明确</p>
              </div>
              <div class="r_i">
                <i class="iconfont icon-jiankong"></i>
                <p>精准监控</p>
              </div>
            </div>
          </div>
        </div>
        <div class="line_h">
          <img src="/images/product/task/2.png">
        </div>
      </div>
    </div>
    <div>
      <div class="line_model">
        <div class="line_h">
          <img src="/images/product/task/3.png">
        </div>
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">一项任务多人配合<br>方便沟通，高效协作</p>
            <p class="l_info">多端协作，无缝配合，有效沟通<br>
              自由流转，责任清晰，分工明确<br>
              任务关注，掌握进度，多方推动</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hasBg">
      <div class="line_model">
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">对个人，对任务层层统计<br>
              一键导出，方便分析</p>
            <p class="l_info">任务协作过程，操作记录完整留存，随时查看<br>
              任务状态分类统计，任务优先级分类统计，所<br>
              有任务数据一键导出，辅助绩效考评和业绩分析</p>
          </div>
        </div>
        <div class="line_h">
          <img src="/images/product/task/4.png">
        </div>
      </div>
    </div>
  </div>
  <% include include/footer.ejs%>
  </body>
</html>
