<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% include include/js_css_core %>
  </head>
  <body>
  <% include include/menu.ejs%>
  <div class="innerpageContainer">
    <div class="productImg"></div>
    <div class="sec_nav">
      <ul class="sec_menu">
        <li><a href="javascript:void(0);" onclick="changetab(this,'task')" class="active">任务管理</a></li>
        <li><a href="javascript:void(0);" onclick="changetab(this,'project')">项目管理</a></li>
        <li><a href="javascript:void(0);" onclick="changetab(this,'maillist')">通讯录</a></li>
        <li><a href="javascript:void(0);" onclick="changetab(this,'approval')">绩效管理</a></li>
        <li><a href="javascript:void(0);" onclick="changetab(this,'achievements')">审批管理</a></li>
        <li><a href="javascript:void(0);" onclick="changetab(this,'crm')">CRM</a></li>
        <li><a href="javascript:void(0);" onclick="changetab(this,'time')">考勤管理</a></li>
        <li><a href="javascript:void(0);" onclick="changetab(this,'study')">学习管理</a></li>
      </ul>
    </div>
    <!-- 任务管理 start-->
    <div id="task" class="fg" style="display:">
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/task/1.png">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">任务管理<em>高效易用的任务协作工具.</em></p>
              <p class="l_des">多人流转协作、自动记录，极大提升任务协作效率</p>
              <p class="l_info">项目统筹管理繁杂事物，工作清晰有条理；线上分配、管理任务，明确区分任务优先级、状态；知识、文档、经验及时上传，形成企业有效积累。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hasBg">
        <div class="line_model">
          <div class="line_h">
            <div class="right_text">
              <p>任务工作权责清晰项目归类管理<br>所有任务进度全局掌控</p>
              <div class="icons">
                <div class="r_i">
                  <i class="iconfont icon-xiangmuguilei"></i>
                  <p>项目归类</p>
                </div>
                <div class="r_i">
                  <i class="iconfont icon-quanze"></i>
                  <p>权责明确</p>
                </div>
                <div class="r_i">
                  <i class="iconfont icon-jiankong"></i>
                  <p>精准监控</p>
                </div>
              </div>
            </div>
          </div>
          <div class="line_h">
            <img src="/images/product/task/2.png">
          </div>
        </div>
      </div>
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/task/3.png">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">一项任务多人配合<br>方便沟通，高效协作</p>
              <p class="l_info">多端协作，无缝配合，有效沟通<br>
                自由流转，责任清晰，分工明确<br>
                任务关注，掌握进度，多方推动</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hasBg">
        <div class="line_model">
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">对个人，对任务层层统计<br>
                一键导出，方便分析</p>
              <p class="l_info">任务协作过程，操作记录完整留存，随时查看<br>
                任务状态分类统计，任务优先级分类统计，所<br>
                有任务数据一键导出，辅助绩效考评和业绩分析</p>
            </div>
          </div>
          <div class="line_h">
            <img src="/images/product/task/4.png">
          </div>
        </div>
      </div>
    </div>
    <!-- 任务管理 end-->
    <!-- 项目管理 start-->
    <div id="project"  class="fg" style="display: none;">
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/project/1.png">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">项目管理</p>
              <p class="l_des">跨企业协作沟通软件
              <p class="l_info">
                根据企业之间项目协作体系设计开发，涵盖企业协作的各项流程，协作项目流程责任到人，解除企业之间跨地域的协作限制，实现线上项目流转，大大降低企业与企业协作成本；云端管理，无需部署安装，简化和节约企业项目管理信息化步骤及成本。
            </div>
          </div>
        </div>
      </div>
      <div class="hasBg">
        <div class="line_model">
          <div class="line_h">
            <div class="right_text">
              <p style="font-size: 20px;">设计专业严谨，功能全面丰富<br>实现企业之间项目全方位管理</p>
              <div class="icons">
                <div class="r_i">
                  <i class="iconfont icon-jindu"></i>
                  <p>进度管理</p>
                </div>
                <div class="r_i">
                  <i class="iconfont icon-quanze"></i>
                  <p>任务管理</p>
                </div>
                <div class="r_i">
                  <i class="iconfont icon-zhiliang"></i>
                  <p>质量管理</p>
                </div>
              </div>
            </div>
          </div>
          <div class="line_h">
            <img src="/images/product/project/2.png">
          </div>
        </div>
      </div>
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/project/3.png">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">项目协作，实现团队无边界沟通提升事务响应速度</p>
              <!--<p class="l_des">跨企业协作沟通软件-->
              <p class="l_info">
                企业之间协作进行，实现线上跨地域沟通，责任到人，与任务管理相结合，协作与分工之中实现共赢。项目各阶段自动激活，方便协作的整体进程。
            </div>
          </div>
        </div>
      </div>
      <div class="hasBg">
        <div class="line_model">
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">项目动态实时呈现,项目流程随时提醒。</p>
              <p class="l_info">外部协作与内部任务同时进行，轻松管理，高效办公。
            </div>
          </div>
          <div class="line_h">
            <img src="/images/product/project/4.jpg">
          </div>
        </div>
      </div>
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/project/5.jpg">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">多个项目同时进展，与不同企业的协作同时进行。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 项目管理 end-->
    <!-- 通讯录 start-->
    <div id="maillist"  class="fg" style="display: none">
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/maillist/1.jpg">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">统一通讯录</p>
              <!--<p class="l_des">跨企业协作沟通软件-->
              <p class="l_info">
                企业内部联系人，查找同事随时随地，高管保护安全无忧
            </div>
          </div>
        </div>
      </div>
      <div class="hasBg">
        <div class="line_model">
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">统一通讯录</p>
              <p class="l_info">企业外部联系人,客户、渠道商、供应商……统一维护外部联系人
            </div>
          </div>
          <div class="line_h">
            <img src="/images/product/maillist/2.png">
          </div>
        </div>
      </div>
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/maillist/3.png">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">个人通讯录一键导出，随时方便快捷管理</p>
              <!--<p class="l_des">跨企业协作沟通软件-->
              <!--<p class="l_info">-->
                <!--企业内部联系人，查找同事随时随地，高管保护安全无忧-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 通讯录 end-->
    <!-- 绩效管理 start-->
    <div id="achievements" class="fg" style="display: none">

      <div>
        <div class="topTextDownPic">
          <h2>全方位为企业成员打分，全面分析任务执行情况</h2>
          <p class="topInfo">从工作业绩、工作态度、学习能力、个性表现四个方面对人员进行打分，将人员所得分数与满分进行对比，更加直观清晰的了解成员业绩。该功能实现了企业内部进行高效的了解每位成员的工作情况！</p>
          <img src="/images/product/achievements/1.jpg">
        </div>
      </div>

      <div class="hasBg">
        <div class="topTextDownPic">
          <h2>专业的绩效成绩分析，体现绩效考核深度价值</h2>
          <p class="topInfo">科学分析绩效考核数据，将恩公无法挖掘的隐藏价值清晰呈现出来，有效了解员工的倾向，横向对比，制定合理发展规划；高效分析评估绩效指标合理性，提升考核合理性，将绩效管理真正呈现出来！</p>
          <p class="iconText">
            <span><i class="iconfont icon-biaoge"></i>表格</span>
            <span><i class="iconfont icon-zhuzhuangtu"></i>柱状图</span>
          </p>
          <img src="/images/product/achievements/2.jpg" style="width: 600px;">
        </div>
      </div>

      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/achievements/3.jpg">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title" style="font-size: 24px;">绩效考核模板化，自定义绩效指标库</p>
              <p style="color: #00a2d4;font-size: 16px;">
                <i  style="font-size: 18px;vertical-align: middle" class="iconfont icon-jixiao"></i>绩效模板全面具体</p>
              <p style="color: #00a2d4;font-size: 14px;">考核设置模板化，一次设置多次复用</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- 绩效管理 end-->
    <!-- 审批管理 start-->
    <div id="approval" class="fg" style="display: none">
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/approval/1.png">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">审批管理</p>
              <p class="l_des">企业日常行政事项、审批流程迅速高效！
              <p class="l_info">
                灵活简单的流程审批工具，轻松应对企业多变的流程需求；
                数据记录清晰明了，一键导出方便查看
            </div>
          </div>
        </div>
      </div>
      <div class="hasBg">
        <div class="line_model">
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">简单易用的审批流程管理工具
                审批流程高效进行</p>
              <p class="l_info">设计简洁<br>简洁易用的界面设计，快速办理各类审批
              <p class="l_info">灵活快捷<br>自由流转的流程，抄送和审批权责清晰
            </div>
          </div>
          <div class="line_h">
            <img src="/images/product/approval/2.jpg">
          </div>
        </div>
      </div>
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/approval/3.png">
          </div>
          <div class="line_h">
            <div class="right_text">
              <p style="font-size: 20px;">覆盖所有出勤流程
                请假，外勤，加班，出差统一管理</p>
              <div class="icons">
                <div class="r_i" style="width: 25%;">
                  <i class="iconfont icon-qingjia"></i>
                  <p>请假</p>
                </div>
                <div class="r_i" style="width: 25%;">
                  <i class="iconfont icon-jiaban"></i>
                  <p>加班</p>
                </div>
                <div class="r_i" style="width: 25%;">
                  <i class="iconfont icon-chuchai"></i>
                  <p>出差</p>
                </div>
                <div class="r_i" style="width: 25%;">
                  <i class="iconfont icon-waiqin"></i>
                  <p>外勤</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hasBg">
        <div class="line_model">
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">项目动态实时呈现,项目流程随时提醒。
              <p class="l_info">外部协作与内部任务同时进行，轻松管理，高效办公。
            </div>
          </div>
          <div class="line_h">
            <img src="/images/product/approval/4.png">
          </div>
        </div>
      </div>
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/approval/5.jpg">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">申请记录详细，统计表一键导出数据智能查询方便查看</p>
              <!--<p class="l_des">企业日常行政事项、审批流程迅速高效！-->
              <p class="l_info">
                所有审批数据统一管理，详细划分，一键导出<br>数据明细，方便汇总查看分析<br>
                申请流转全程覆盖，抄送审批意见清晰记录
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 审批管理 end-->
    <!-- CRM start-->
    <div id="crm" class="fg" style="display: none">
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/crm/1.jpg">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">CRM</p>
              <p class="l_des">最实用的客户关系管理应用
              <p class="l_info">
                协调企业与顾客间在销售、营销和服务上的交互，提示管理方式，促进客户转化，方便您为客户提供更好的个性化的服务。
            </div>
          </div>
        </div>
      </div>
      <div class="hasBg">
        <div class="line_model">
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">我们的CRM：
              <p class="l_info">为企业提供全方位的管理视角<br>
                赋予企业更完善的客户交流能力<br>
                最大化客户的收益率
            </div>
          </div>
          <div class="line_h">
            <img src="/images/product/crm/2.png">
          </div>
        </div>
      </div>
      <div>
        <div class="topTextDownPic">
          <h2>客户资料信息集中管理、有效跟踪，避免资源流失</h2>
          <img src="/images/product/crm/3.png" style="width: 700px;">
        </div>
      </div>
    </div>
    <!-- CRM end-->
    <!-- 考勤管理 start-->
    <div id="time" class="fg" style="display: none">
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/time/1.jpg">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">考勤管理</p>
              <!--<p class="l_des">最实用的客户关系管理应用-->
              <p class="l_info">
                简洁的设计和丰富的功能，体验最人性化的考勤管理，享受移动打卡带来的便利
            </div>
          </div>
        </div>
      </div>
      <div class="hasBg">
        <div class="line_model">
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">考勤规则自定义
                人工核实，准确有效
              <p class="l_info">记录所有的考勤记录，不论迟到早退或是请假出差，都有清晰标注，对企业员工出勤情况做到心中有数；上下班时间，假期休息日打卡定位位置全都自定义，根据企业实际情况灵活调整；考勤数据人工核实，错打漏记全都人工退回修改，有效应对考勤错漏带来的各种问题
            </div>
          </div>
          <div class="line_h">
            <img src="/images/product/time/2.jpg">
          </div>
        </div>
      </div>
      <div>
        <div class="topTextDownPic">
          <h2>客户资料信息集中管理、有效跟踪，避免资源流失</h2>
          <p>方便简单的外勤定位签到，不限次数记录签到信息，构建外勤路线图和内勤路线图。签到轨迹查看，自动统计签到记录，随时掌握外勤人员分布情况。</p>
          <img src="/images/product/time/3.jpg" style="width: 700px;">
        </div>
      </div>
    </div>
    <!-- 考勤管理 end-->
    <!-- 学习管理 end-->
    <div id="study" class="fg" style="display:none;">
      <div>
        <div class="line_model">
          <div class="line_h">
            <img src="/images/product/study/1.jpg">
          </div>
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">学习管理</p>
              <!--<p class="l_des">最实用的客户关系管理应用-->
              <p class="l_info">
                和绩效管理挂钩，有效推送课程<br>
            </div>
          </div>
        </div>
      </div>
      <div class="hasBg">
        <div class="line_model">
          <div class="line_h">
            <div class="line_text">
              <p class="l_title">共享观点、想法以及经验
              <p class="l_info">创建一个社区，人人均可畅所欲言。同时可分享自己的经验、想法、收获，也可提出自己的疑惑，实现共同进步，全员学习！
            </div>
          </div>
          <div class="line_h">
            <img src="/images/product/study/2.jpg">
          </div>
        </div>
      </div>
      <div>
        <div class="topTextDownPic">
          <h2>清楚记录学习时长，跟踪学习效果</h2>
          <img src="/images/product/study/3.jpg" style="width: 700px;">
        </div>
      </div>
    </div>
    <!-- 学习管理 end-->
  </div>
  <% include include/footer.ejs%>
  <script>
    function changetab(_this,id){
      $(_this).parents("ul").find("a").each(function(){
        $(this).removeClass("active");
      })
      $(_this).addClass("active");
      $(".fg").hide();
      $("#"+id).show();
    }
  </script>
  </body>
</html>
