<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% include include/js_css_core %>
    <style>
      .line_model .line_h img{
        /*height: 200px;*/
        width: 300px;
      }
    </style>
  </head>
  <body>
  <% include include/menu.ejs%>
  <div class="innerpageContainer">
    <div class="stempImg">
      <div class="textBox">
        <p class="b">服务流程</p>
        <p class="m">深入了解 提供企业信息化最需要的服务</p>
        <p class="s">企力为客户提供专业顾问服务，在业务咨询、需求确认、解决方案、应用系统、运营服务各环节建立专业完整的服务流程，确保客户享受到最卓越的产品服务体验。</p>
      </div>
    </div>
    <div class="">
      <div class="line_model">
        <div class="line_h">
          <img src="/images/stemp/1.jpg">
        </div>
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">1.业务咨询</p>
            <p class="l_info">企力专业顾问深入客户真实办公场景，通过访谈，问卷，情景模拟等多种方式，对企业各层级人员展开调研。了解企业业务模式，职能分工，管理难点，并与企业一起进行分析和梳理，再结合自身数据库经验，为客户提供管理改进咨询服务。</p>
          </div>
        </div>
      </div>
    </div>
    <div class=" hasBg">
      <div class="line_model">
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">2.需求确认</p>
            <p class="l_info">专业顾问根据前期调研进过，进一步结合用户自身情况以及同行业数据挖掘，梳理用户企业在经营管理过程中遇到的困难，帮助客户定位自身优化的关键需求，并跟客户一起思考问题、直面问题，最终与客户在信息化需求上达成一致。</p>
          </div>
        </div>
        <div class="line_h" style="padding-left: 100px;">
          <img src="/images/stemp/2.png">
        </div>
      </div>
    </div>
    <div class="">
      <div class="line_model">
        <div class="line_h">
          <img src="/images/stemp/3.jpg">
        </div>
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">3.解决方案</p>
            <p class="l_info">根据已确认的企业需求状况，专业顾问利用企力产品再次深入企业真实办公场景，模拟对比产品使用前后的业务状况，形成客户专属的经营管理信息化解决方案，解决企业的管理难点、痛点，满足企业信息化需求，并与客户在具体计划方案上达成一致。</p>
          </div>
        </div>
      </div>
    </div>
    <div class=" hasBg">
      <div class="line_model">
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">4.系统应用</p>
            <p class="l_info">在计划方案达成一致确认后，专业顾问将辅助客户对企力产品实施使用，通过客户初始化辅助、专业培训、员工辅导等帮助企业将系统功能真正到经营管理活动中，承载企业当前业务并发挥优化效力，快速、高效的提升客户企业经营效率和效益。</p>
          </div>
        </div>
        <div class="line_h" style="padding-left: 100px;">
          <img src="/images/stemp/4.png">
        </div>
      </div>
    </div>
    <div class="">
      <div class="line_model">
        <div class="line_h">
          <img src="/images/stemp/5.jpg">
        </div>
        <div class="line_h">
          <div class="line_text">
            <p class="l_title">5.运营服务</p>
            <p class="l_info">企力提供优质的产品配套服务，让客户用得放心，用得舒心。专业顾问持续为企业挖掘、分析优化业务流程，介绍系统更新并时刻为客户提供最适配、最优化的系统解决方案，陪伴客户共同成长，实现共赢。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include include/footer.ejs%>
  </body>
</html>
