<div class="footer">
    <% if (isindex){ %>
    <div class="ft">
        <p class="ft_text">现在就开始使用企力</p>
        <a target="_blank" href="http://121.40.125.30:8899//user/register.html" class="registBtn">立即注册</a>
    </div>
    <% }%>
    <div class="fb">
        <div class="fb_c">
            <ul class="fb_item">
                <li class="fb_title">产品</li>
                <li class="fb_i"><a href="price">价格</a></li>
                <li class="fb_i"><a href="case">案例</a></li>
                <li class="fb_i"><a href="better">优势</a></li>
            </ul>
            <ul class="fb_item">
                <li class="fb_title">公司</li>
                <li class="fb_i"><a href="about#about">关于我们</a></li>
                <li class="fb_i"><a href="about#connection">联系我们</a></li>
                <li class="fb_i"><a href="about#business">主营业务</a></li>
                <li class="fb_i"><a href="about#team">团队介绍</a></li>
            </ul>
            <ul class="fb_item">
                <li class="fb_title">支持</li>
                <li class="fb_i"><a href="stemp">服务流程</a></li>
                <li class="fb_i"><a href="help">技术支持</a></li>
                <li class="fb_i"><a href="layer">隐私条款</a></li>
            </ul>
            <ul class="fb_item">
                <li class="fb_title">联系方式</li>
                <li class="fb_i"><a href="javascript:void(0);">021-55215180</a></li>
                <li class="fb_i"><a href="javascript:void(0);">周一至周日 8：00～20：00</a></li>
                <li class="fb_i"><a href="javascript:void(0);">service@shiyouxinxi.com</a></li>
            </ul>
            <ul class="fb_item">
                <li class="fb_title">关注微信号</li>
                <li class="fb_i">
                    <img src="/images/index/qrod.jpg" style="width: 120px;">
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?fd58510b2a4959c80dc6a8d8b239759e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
